body,
html {
  margin: 0;
  background-color: #f5f7f9;
  height: 100%;
  width: 100%;
}

/* header */
.hero {
  background-color: #69585f;
  margin-bottom: 10px;
}

.headerLink {
  color: #ffcad4;
}

.headerLink:hover {
  color: #ff686b;
}

.headerTitle {
  height: 100%;
  flex-grow: 0;
  display: inline-block;
}

.headerLinks {
  height: 100%;
  flex-grow: 1000;
  right: 0;
  display: inline-block;
}

.nav-list {
  margin: 1em 0 0.5em;
  text-align: right;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  display: inline-block;
  padding: 0.5em 1.5em;
}

/* main container */
.contentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* div card display */
.snapshot {
  display: flex;
  width: 30%;
  margin: 5px;
}

/* card display */
.snapshotCard {
  border-radius: 7px;
  border: 1px solid #f0f4f6;
}

/* card text */
.footerCard {
  font-size: 10px;
}

/* empty message default */
.isEmptyMessage {
  background-color: #ffe5d9 !important;
  margin: auto;
}

.isEmptyMessage a {
  color: #ff686b !important;
}

.isEmptyMessage a:hover {
  color: #f0f4f6 !important;
}

.divComment {
  background-color: #f0f4f6;
  border: 1px solid #ffe5d9;
  margin: 2px;
  font-size: 12px;
}

.newComment {
  margin: 5px;
}

/* footer */
.renderFooter {
  margin-top: 10px;
}

@media (max-width: 760px) {
  .snapshot {
    display: flex;
    width: 100%;
    margin: 5px;
    justify-content: center;
  }
}
