body,
html {
  margin: 0;
  background-color: #f5f7f9;
  height: 100%;
  width: 100%;
}

/* login form */
.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#formRecoverPassword {
  width: 50%;
}

/* header */
.hero {
  background-color: #02c39a;
  margin-bottom: 10px;
}

.headerLink {
  color: #69585f;
}

.headerLink:hover {
  color: #f0f3bd;
}

.headerTitle {
  height: 100%;
  flex-grow: 0;
  display: inline-block;
}

.headerLinks {
  height: 100%;
  flex-grow: 1000;
  right: 0;
  display: inline-block;
}

.nav-list {
  margin: 1em 0 0.5em;
  text-align: right;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  display: inline-block;
  padding: 0.5em 1.5em;
}

/* footer */
.renderFooter {
  margin-top: 10px;
}

@media (max-width: 760px) {
  #formRecoverPassword {
    width: 100%;
  }
}
